# Android SDK tools (local only, not for version control)
.tools/

# Android build outputs
*.apk
*.aab
*.jks
*.keystore
build/
/build
/app/build
/app/release
.gradle
/local.properties
local.properties

# IDE
.idea/
/.idea
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx
